.wrapper {
  background-color: var(--gray-03);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1220px;
  min-width: 288px;
  width: 100%;
}
.header {
  color: var(--black);
}
@media (min-width: 320px) {
  .header {
    font: var(--typo-header2-mobile);
    margin-bottom: 40px;
  }
  .wrapper {
    padding: 90px 20px;
  }
}
@media (min-width: 768px) {
  .header {
    font: var(--typo-header2-bold-tablet);
  }
}
@media (min-width: 1280px) {
  .header {
    font: var(--typo-header1-desktop);
    margin-bottom: 70px;
  }
  .wrapper {
    padding: 90px 40px;
  }
}
