:root {
  --white: #fff;
  --gray-01: #a4adac;
  --gray-02: #d6dbdb;
  --gray-03: #e8edee;
  --gray-04: #f2f6f6;
  --black: #1d1d1b;
  --orange: #ff5900;
  --dark-orange: #e0570e;
  --error: #ff4026;
}
