:root {
  /* desktop */
  --typo-header-desktop: bold 80px/110% Onest;
  --typo-header1-desktop: bold 32px/120% Onest;
  --typo-header2-bold-desktop: bold 24px/32px Onest;
  --typo-header2-regular-desktop: 24px/32px Onest;
  --typo-button-desktop: medium 14px/24px Onest;
  --typo-body1-desktop: 22px/32px Onest;
  --typo-body2-desktop: 18px/22px Onest;
  --typo-body3-desktop: 14px/20px Onest;

  /* tablet */
  --typo-header1-tablet: bold 52px/110% Onest;
  --typo-header2-bold-tablet: bold 28px/120% Onest;
  --typo-header3-bold-tablet: bold 16px Onest;
  --typo-button-tablet: medium 14px/24px Onest;
  --typo-body1-regular-tablet: 14px/20px Onest;
  --typo-body1-bold-tablet: bold 14px/20px Onest;
  --typo-body2-tablet: 12px/16% Onest;

  /* mobile */
  --typo-header1-mobile: bold 36px/110% Onest;
  --typo-header2-mobile: bold 24px Onest;
  --typo-header3-mobile: bold 20px Onest;
  --typo-button-mobile: medium 14px/24px Onest;
  --typo-body1-mobile: 16px Onest;
  --typo-body2-mobile: 14px Onest;
  --typo-body3-mobile: bold 12px Onest;
}
