@media (min-width: 320px) {
  .wrapper {
    width: 100%;
  }
  .description {
    font: var(--typo-body1-mobile);
    margin-top: 22px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 336px;
  }
  .description {
    font: var(--typo-body1-regular-tablet);
    margin-top: 16px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    max-width: 560px;
  }
  .description {
    font: var(--typo-body1-desktop);
    margin-top: 32px;
  }
}
